$white:     #FFFFFF !default;
$gray-100:  #EDEDED !default;
$gray-600:  #757575 !default;
$gray-900:  #2B2B2B !default;
$black:     #000000 !default;

$yellow:    #FFED00 !default;
$cyan:      #238C96 !default;
$green:     #4FAE47 !default;
$red:       #CC0000 !default;

$light:      $gray-100 !default;
$dark:       $gray-900 !default;
